*.{{ main_domain }} {
	{% if cloudflare_ssl == true %}
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	{% endif %}

	{% if lldap_deploy == true %}
	@lldap host users.{{ main_domain }}
	handle @lldap {
		reverse_proxy lldap:17170 {
			header_up X-Real-IP {remote_host}
		}
	}
	{% endif %}

	{% if bitwarden_deploy == true %}
	@bw host bw.{{ main_domain }}
	handle @bw {
		reverse_proxy bitwarden:80 {
			header_up X-Real-IP {remote_host}
		}
		reverse_proxy /notifications/hub bitwarden:3012
	}
	{% endif %}

	handle {
		respond "<h1>FAIL Unauthorized resource access attempt. This incident will be reported</h1>"
	}
}
