[ups]
  driver = "{{ ups_driver }}"
  port = "auto"
  vendorid = "{{ ups_vendorid }}"
  productid = "{{ ups_productid }}"
  product = "{{ ups_product }}"
  vendor = "{{ ups_vendor }}"
  bus = "{{ ups_bus }}"
