modules:
  - module: "ldap_auth_provider.LdapAuthProviderModule"
    config:
      enabled: true
      uri: "ldap://lldap:3890"
      start_tls: false
      base: "ou=people,{{ lldap_base_dn }}"
      attributes:
        uid: "uid"
        mail: "mail"
        name: "cn"
        bind_dn: "uid=admin,ou=people,{{ lldap_base_dn}}"
        bind_password: "{{ lldap_admin_password }}"
        filter: "(objectClass=person))"

server_name: "{{ main_domain }}"
pid_file: /data/homeserver.pid
public_baseurl: "https://mx.{{ main_domain }}"
presence:
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
manhole_settings:
limit_remote_rooms:
templates:
retention:
caches:
  global_factor: 1.0
  per_cache_factors:
  max_cache_memory_usage: 4096M
  target_cache_memory_usage: 2048M
database:
  name: psycopg2
  txn_limit: 0
  args:
    user: postgres
    password: "{{ postgres_password }}"
    database: synapse
    host: postgres
    port: 5432
    cp_min: 5
    cp_max: 10
log_config: "/data/{{ main_domain }}.log.config"
media_store_path: "/data/media_store"
url_preview_accept_language:
oembed:
enable_registration: false
registration_shared_secret: '{{ synapse_register_secret }}'
account_threepid_delegates:
auto_join_rooms:
  - "#homeserver:{{ main_domain }}"
metrics_flags:
report_stats: false
room_prejoin_state:
macaroon_secret_key: '{{ synapse_macaroon_secret_key }}'
form_secret: '2=*=i;r-02rd&SFgSM-vN+9WtazZgfv78n2^AGNzMq2GI5jdD_'
signing_key_path: "/data/{{ main_domain }}.signing.key"
old_signing_keys:
trusted_key_servers:
  - server_name: "matrix.org"
saml2_config:
  sp_config:
  user_mapping_provider:
    config:
oidc_providers:
cas_config:
sso:
password_config:
  policy:
ui_auth:
email:
push:
user_directory:
stats:
opentracing:
redis:
background_updates:
turn_uris: [turn.matrix.org]
app_service_config_files:
  - /data/discord.yaml
