dns.dns {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	root * /config/static
	file_server
}

*.dns.dns {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}

	@denied not remote_ip {{ v4_lan }}

	@lldap host users.dns.dns
	handle @lldap {
		reverse_proxy lldap:17170 {
			header_up X-Real-IP {remote_host}
		}
	}

	@authelia host auth.dns.dns
	handle @authelia {
		reverse_proxy authelia:9091
	}

	@bw host bw.dns.dns
	handle @bw {
		reverse_proxy /notifications/hub bitwarden:3012

		reverse_proxy bitwarden:80 {
			header_up X-Real-IP {remote_host}
		}
	}

	@nc host cloud.dns.dns
	handle @nc {
		redir /.well-known/carddav /remote.php/dav 301
		redir /.well-known/caldav /remote.php/dav 301
		reverse_proxy nextcloud:80
	}

	@wg host wg.dns.dns
	handle @wg {
		reverse_proxy "http://192.168.10.250:8123"
	}
	
	@flexo host pkg.dns.dns
	handle @flexo {
		respond @denied 403
		reverse_proxy flexo:7878
	}

	handle {
		respond "<h1>FAIL Unauthorized resource access attempt. This incident will be reported</h1>"
	}
}
