---
###############################################################
#                   Authelia configuration                    #
###############################################################

jwt_secret: "{{ authelia_jwt_secret }}"
default_redirection_url: "https://auth.{{ main_domain }}"

server:
  host: 0.0.0.0
  port: 9091

log:
  level: debug
# This secret can also be set using the env variables AUTHELIA_JWT_SECRET_FILE

totp:
  issuer: "{{ main_domain }}"

# duo_api:
#  hostname: api-123456789.example.com
#  integration_key: ABCDEF
#  # This secret can also be set using the env variables AUTHELIA_DUO_API_SECRET_KEY_FILE
#  secret_key: 1234567890abcdefghifjkl

authentication_backend:
  disable_reset_password: false
  refresh_interval: always
  ldap:
    implementation: custom
    url: ldap://lldap:3890
    timeout: 5s
    start_tls: false
    base_dn: "{{ lldap_base_dn }}"
    username_attribute: uid
    additional_users_dn: ou=people
    users_filter: (&({username_attribute}={input})(objectClass=person))
    additional_groups_dn: ou=groups
    groups_filter: (member={dn})
    group_name_attribute: cn
    mail_attribute: mail
    display_name_attribute: displayName
    user: "uid=admin,ou=people,{{ lldap_base_dn }}"
    password: "{{ lldap_admin_password }}"

access_control:
  default_policy: one_factor

session:
  name: authelia
  # This secret can also be set using the env variables AUTHELIA_SESSION_SECRET_FILE
  secret: "{{ authelia_session_secret }}"
  expiration: 3600 # 1 hour
  inactivity: 300 # 5 minutes
  domain: "{{ main_domain }}" # Should match whatever your root protected domain is
  redis:
    host: redis
    port: 6379

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

notifier:
  disable_startup_check: false
  filesystem:
    filename: /config/notification.txt

storage:
  encryption_key: "{{ authelia_storage_secret }}"
  local:
    path: /config/db.sqlite3
