# dns.dns {
# 	tls {
# 		dns cloudflare {env.CF_API_TOKEN}
# 	}
# 	root * /config/static
# 	file_server
# }
(trusted_proxy_list) {
       trusted_proxies 10.0.0.0/8
}

# from https://kalnytskyi.com/posts/setup-cors-caddy-2/
(cors) {
  @cors_preflight method OPTIONS
  @cors header Origin {args.0}

  handle @cors_preflight {
    header Access-Control-Allow-Origin "{args.0}"
    header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
    header Access-Control-Allow-Headers "Content-Type"
    header Access-Control-Max-Age "3600"
    respond "" 204
  }

  handle @cors {
    header Access-Control-Allow-Origin "{args.0}"
    header Access-Control-Expose-Headers "Link"
  }
}

*.d513.space {
	@denied not remote_ip 192.168.0.0/16

	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}

	@bw host bw.d513.space
	handle @bw {
		reverse_proxy /notifications/hub bitwarden:3012

		reverse_proxy bitwarden:80 {
			header_up X-Real-IP {remote_host}
		}
	}

	@wg host wg.d513.space
	handle @wg {
		reverse_proxy "http://192.168.10.250:8123"
	}

	@cd host cd.d513.space
	handle @cd {
		abort @denied
        reverse_proxy changedetection:5000
	}

	@sa host mxadmin.d513.space
	handle @sa {
		abort @denied
        reverse_proxy synapse-admin:80
	}

	handle {
		respond "<h1>FAIL Unauthorized resource access attempt. This incident will be reported</h1>"
	}
}

dogehub.eu {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	# for element client
	import cors *
	root * /config/static
	file_server
}

*.dogehub.eu {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}

	@authelia host auth.dogehub.eu
	handle @authelia {
		reverse_proxy authelia:9091
	}

	@lldap host id.dogehub.eu
	handle @lldap {
		reverse_proxy lldap:17170 {
			header_up X-Real-IP {remote_host}
		}
	}

	@cloud host cloud.dogehub.eu
	handle @cloud {
		redir /.well-known/carddav /remote.php/dav 301
		redir /.well-known/caldav /remote.php/dav 301
		reverse_proxy nextcloud:80
	}

	@hedgedoc host doc.dogehub.eu
	handle @hedgedoc {
		reverse_proxy hedgedoc:3000
	}

	@mx host mx.dogehub.eu
	handle @mx {
		reverse_proxy synapse:8008
	}

	@dimension host dimension.dogehub.eu
	handle @dimension {
		reverse_proxy matrix-dimension:8184
	}

	handle {
		respond "<h1>Nothing here yet ._.</h1>"
	}
}
