#!/bin/bash

# Telegram notify script
# send message

TELEGRAM_TOKEN="{{ telegram_token }}"
TELEGRAM_CHATID="{{ telegram_chatid }}"

if [[ -z $1 ]]; then
  echo "usage: notify <message>"
  exit 1
fi

json=$(jq -n --arg chat_id "$TELEGRAM_CHATID" --arg text "$@" '{ $chat_id, $text }')
echo $json
curl -X POST \
   -H 'Content-Type: application/json' \
   --data "$json" \
   https://api.telegram.org/bot$TELEGRAM_TOKEN/sendMessage
